.top {
    background-color: #D18CE0;
}

body {
    margin: 0px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
}

h1 {
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #580a69;
}

h2 {
    font-size: 4rem;
    color: #580a69;
}

h3 {
    font-size: 4em;
}

p {
    font-size: 3em;
    line-height: 40px;
}

.bottom-cloud {
    position: absolute;
}

.top-cloud {
    top: 10px;
    margin: 30px;
    position: relative;
    left: 200px;
}

.python {
    width: 200px;
    height: 200px;
}

.psolving {
    width: 300px;
    height: 300px;
}

.skills {
    margin: 150px;
}

.profile {
    margin-bottom: 100px;
}

.display-pic {
    margin-top: 50px;
    width: 300px;
    height: 300px;
}

.skill-row1 {
    margin-bottom: 100px;
}

.bottom {
    font-size: 4em;
    margin-top: 50px;
}

.btn {
    font-size: 2em;
}

.mid {
    margin-bottom: 50px;
}